<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guide to the Solar System</title>
    <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

    <link rel="stylesheet" href="static/foundation.min.css">
    <link rel="stylesheet" href="static/style.css">

</head>
<body>

    <div class="row about" style = "height: 100px">
        <h3 class="large-6 large-centered large-push-1 columns header">About</h3>
    </div>

    <div class="row title">
        <div class="large-6 large-centered columns">
            <p>
                A year is the time it takes for a planet to orbit around the sun once. Further, a day is the time it takes for a planet to revolve once around its rotational axis.
            </p>
            <p>
                The progress bar indicates how far along a planet has already progressed in the current year.
            </p>
            <p>
                Note that Mercury and Venus are both <a class="text_link" href="https://en.wikipedia.org/wiki/Tidal_locking">tidally locked</a> to the sun and thus experience only 1 or 2 solar days per year respectively.
            </p>
            <p>&nbsp;</p>
            <p>
                Planetary orbital data was obtained from
                <a class="text_link" href="http://ssd.jpl.nasa.gov/horizons.cgi">jpl.nasa.gov</a>.
                Dwarf planet orbital parameters according to
                <a class="text_link" href="https://en.wikipedia.org/wiki/List_of_gravitationally_rounded_objects_of_the_Solar_System">wikipedia</a>.
            </p>
            <p>
                We use  62138156134 (magic constant) + unix timestamp (seconds since <a class="text_link" href="https://en.wikipedia.org/wiki/Unix_time">unix epoch</a>) to calculate the amount of seconds that have passed since 1.1.0001 AD.
            </p>
            <p>
                Given the orbital period we can calculate the current year:
            </p>
            <p>
                n_years = t_passed / orbital_period
            </p>
            <p>
                Days are calculated from the remainder of this division:
            </p>
            <p>
                n_days = (remainder * orbital_period) / len_day
            </p>
            <p>
                According to simple tests, the date on Earth will not be off by more than 1 day during the next few years.
                Have a look at the <a class="text_link" href="https://github.com/oOo0oOo/PlanetDate">source</a> for more details.
            </p>
            <p>&nbsp;</p>
            <p>
                Made in 8370 AD (Mercury) by Oliver Dressler
            </p>
        </div>
    </div>
    <div class="row title">
        <div class="small-4 small-centered columns">
            <a href="/">return</a>
        </div>
    </div>

</body>