<!DOCTYPE html>
<html lang="en">
<head>
    <title>Solar Calendar</title>
    <link href='http://fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

    <link rel="stylesheet" href="static/foundation.min.css">
    <link rel="stylesheet" href="static/style.css">

</head>
<body>

    <div class="row title" style = "height: 100px">
        <h3 class="large-6 large-centered large-push-1 columns header">Guide to the Solar System</h3>
    </div>

    <div class="row">
        <div class="large-10 large-centered columns">
        {% for name, year, day, max_day, r_year in planet_data %}

            <div class="row planet">
                <div class="large-4 large-push-3 columns vcenter">
                    {% if name in ('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune') %}
                    <a href="https://en.wikipedia.org/wiki/{{name}}_(planet)">
                    {% else %}
                    <a href="https://en.wikipedia.org/wiki/{{name}}_(dwarf_planet)">
                    {% endif %}

                    <img src="static/{{name}}.png" alt="{{name}}" title="{{name}} on Wikipedia">
                    </a>
                </div>

                <div class="large-6 columns vcenter">
                    <h5><b>{{ name }}</b>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    {% if day > 0 %}
                    Day {{ day }} of {{ max_day }}
                    {% else %}
                    Day unkown
                    {% endif %}

                    {% if name in ('Mercury', 'Venus') %}
                    <a href="https://en.wikipedia.org/wiki/Tidal_locking">*</a>
                    {% endif %}

                    </h5>
                    <!-- <p>
                        <div class="small-6 small-push-2 columns">
                            <h5>Year {{ year }} AD</h5>
                        </div>
                    </p> -->
                    <p>
                    <div class="progress small-5 primary">
                        <span class="progress-meter blue" style="width: {{r_year}}%"></span>
                    </div>
                    </p>
                    <p>
                    <h5>Year {{ year }} AD</h5>
                    </p>
                </div>
            </div>

        {% endfor %}
        </div>
    </div>

    <div class="row title">
        <div class="small-4 small-centered columns">
            <a href="/about">about</a>
        </div>
    </div>

</body>
</html>